/* signup page */

body {
	width: 100%;

}
.signUp {
	position: absolute;
	width: 400px;
	margin-left: 40%;
	margin-right: 40%;
}
input {
	width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.signUp-form-button {
    background-color: #f4e842;
		font-size: 20px;
		font-weight: bold;
    color: #000;
    padding: 15px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.nav li{
	float: right;
	margin-left: 8px;
	padding-left: 12px;
	text-decoration: none;

}

.container h1 {
	text-align: center;
}

.navbar {
	height: 30px;
	width: 100%;
	border-bottom: 1px solid black;
}

.container {
	background-color: white;
    position: absolute;
    top: 80px;
    right: 100px;
    width: 350px;
    height: 550px;
    border: 3px solid #73AD21;
}


 /* login page */

 .login-container-p {
	 text-align: center;
	 font-size: 22px;
	 font-style: 'Raleway', sans-serif;
	 font-weight: bold;
	 padding: 20px 10px 40px 10px;
 }

.login-container-h {
	text-align: center;
	font-size: 22px;
	font-style: 'Raleway', sans-serif;
	font-weight: bold;
	padding: 20px 10px 40px 10px;
}

.cover {
	/*background-color: black;*/
	background-image: url("/images/profile-picture-collage.png");
	width: 100%;
	height: 700px;
}

.login-input input {
	text-align: center;
	font-size: 15px;
}

.login-input input,
button {
	width: 100%;
	max-width: 310px;
	height: 35px;
	display: block;
	margin: 0 auto 5px;
}

.login-btns {
	background-color: #f4e842;
	font-size: 18px;
	margin-bottom:20px;
	margin-top:20px;

}

.background-pic {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 350px;
    height: 300px;
		background-image: url("man-pic.png");
		border: 2px solid red;
}

.error {
	color: red;
}


/* profile */

.upload-form-container {
	margin: 50px;
}


.upload-form {
 margin-right: 25%;
 margin-left: 25%;
}

.upload-button {
	background-image: url("upload.png");
}


/* Home Page */

.home-page{
	background-color: #fffff9;
}
.home-page-heading{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	font-size: 25px;
	padding-top: 4%;
color: #fff723;
}



.header-container-nav {
	overflow: hidden;
	background-color: #fffff2;
	border-bottom: 1px;
	border-style: solid;
	border-color: #000;
}

.header-container-nav a {
	font-family: 'Raleway', sans-serif;
	color: #000;
	text-decoration: none;
	float: left;
	font-size: 17px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 18px 16px;
}

.header-container-nav a:hover {
	background-color: #000;
	color: #fff959;
}

.header-container-nav-username {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-decoration: none;
	float: right;
	font-size: 20px;
	color: #000;
}

.header-container-nav-logo {
	background-image: url("/images/cam.png");
	float: right;
	}

	.homepage-images {
		padding-top: 5%;
	}


	.uploaded-images {
		border-style: solid;
		border-radius: 10%;
		border-color: #000;
		margin-left: 20px;
		margin-right:20px;
	}
