<div class="home-page">

		<div class="header-container-nav">
					<h1 class="header-container-nav-username"><a  href="/home"><%= username %></a></h1>
					<a class="header-container-nav-paths" href="/profile">Profile</a>
					<a class="header-container-nav-paths" href="/logout">Logout</a>
		</div>
		<h1 class="header-container-nav-logo" href="/home">a</h1>
			<h1 class="home-page-heading"> PHOTOPOP</h1>

<div class="homepage-images">
		<% for (let i = 0; i < pics.length; i++) { %>
				<a href = "/pics/pic/<%- pics[i].get('id') %>">
					<img class="uploaded-images" src ="<%- pics[i].getPreviewSrc() %>"/>
					<!-- <%- pics[i].get("originalName") %> -->

			<% } %>

</div>


</div>
