<div class = "main">
	<h1>Welcome to Photopop <%= username %></h1>
<a href="/profile">Profile</a>
	</div>

	<% for (let i = 0; i < pics.length; i++) { %>
			<a href = "/pics/pic/<%- pics[i].get('id') %>">
				<img src ="<%- pics[i].getPreciewSrc() %>"/>
				<%- pics[i].get("originalName") %>

		<% } %>
