<!DOCTYPE html>
<html>
<head>
	<title>Photo Pop - Login</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

	<body>
		<!-- nav bar -->
		<div class="navbar">
  <div class="bar">
    <ul class="nav">
      <a href="/" class="navbar-brand"><i class="ion-images"></i> Instagram</a>
      <li><a href="#/">Home</a></li>|
      <li><a href="#/login">Log in</a></li>|
      <li><a href="#/signup">Sign up</a></li>|
      <li><a ng-click="logout()" href="">Logout</a></li>
    </ul>
  </div>
</div>

<div class = "cover">
<div class="background-pic">

</div>


		<!--Log in  -->

 		<div class= "container">
			<p>Sing up to see photos and videos from your friends</p>
			<h1>Log In</h1>
			<div class= "singin">
				<form class = "login-input" method="post">
					<input type ="text" placeholder="username"/><br/>
					<input type ="text" placeholder="password"/><br/>
					<button>Submit</button>
				</form>
			</div>
			<a href = "/signup">Sign Up</a>
		</div>

	</div>

	</body>
</html>
