

<div class="profile-page">
<div class="upload-form-container">
<form class="upload-form" enctype="multipart/form-data" method="post" action ="/home">
	<% if (typeof error !== "undefined") { %>
		<p class="upload-error">
			<%- error %>
		</p>
	<% } %>
	<input type="file" name="file"/>
	<button class="upload-button">Upload</button>
</form>
</div>
</div>
