<!DOCTYPE html>
<html>
	<head>
		<title> insta </title>
		<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	</head>

	<body>

		<main>
		<%- include(page, pageArg);
		%>
		</main>


	</body>
</html>
